@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
#beagl {
	line-height: 1.3;
	font-family: 'Open Sans', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	color: var(--text-regular);
}
